
#card1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
}

.card-content {
    text-align: center;
    background-color: #ffffff;
    color: #333333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

h3 {
    color: #333333;
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

#aTag{
    color: #1E90FF;

}
a {
    color: #1E90FF;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #104E8B; /* Darker shade on hover */
}

#aTag:hover{
    color: #104E8B;

}
